/* LoginPage.css */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    transition: all 1s ease;
}
.header {
    display: none; /* 헤더를 숨김 */
  }
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
}

.logo-container.move-up {
    transform: translateY(-100px);
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 300px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4a1c40; /* 버튼 색상 */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links a {
    text-decoration: none;
    color: #4a1c40;
    font-size: 14px;
}