@import "../../App.scss";

.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
  background-color: #f8f9fa; /* 새로운 배경색 */
  padding: 8px 0; /* 패딩 조정 */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* 상단 그림자 */
  min-width: 100vw;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-link {
      color: #7d7d7d; /* 새로운 기본 색상 */
      font-size: 28px; /* 아이콘 크기 조정 */
      font-weight: bold;
      transition: color 0.3s, transform 0.3s; /* 색상 및 이동 효과 */

      &:hover {
        color: #4a1533; /* 호버 시 색상 */
        transform: translateY(-3px); /* 호버 시 위로 이동 효과 */
      }
    }

    .active {
      color: #4a1533; /* 선택된 상태의 색상 */
      border-bottom: 2px solid #4a1533; /* 선택된 아이콘 하단 표시 */
    }
  }
}

@media (min-width: $max-width) {
  .nav_bar {
    min-width: $max-width;
  }
}