@import "../../App.scss";

.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
  background-color: #fff;
  //그라데이션 효과 주기
  // background-image: linear-gradient(to right bottom, #ff5c5c, #ad6dfc);
  padding: 1px 0px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  min-width: 100vw;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;

  // navbar 요소
  div {
    // 선택되지 않았을 때
    .nav-link {
      color: rgb(200, 200, 200);
      font-size: 20px;
      font-weight: bold;
    }

    // 선택되었을 때
    .active {
      color: #736cbd;
    }
  }
}

@media (min-width: $max-width) {
  .nav_bar {
    min-width: $max-width;
  }
}
