.club-detail-container {
    padding: 20px;
    font-family: 'Arial, sans-serif';
    color: #4a1533;
  
    // 링크 스타일 제거
    a {
      text-decoration: none;
      color: inherit; // 부모 요소의 색상을 따름
      &:hover {
        color: inherit; // 호버 시에도 색상 유지
      }
    }
  
    .custom-header {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
  
      .back-button {
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 10px;
      }
  
      .header-content {
        display: flex;
        align-items: center;
  
        .header-logo {
          width: 50px;
          height: 50px; /* Ensure it's square */
          border-radius: 50%; /* Make the logo circular */
          object-fit: cover; /* Maintain aspect ratio */
          margin-right: 10px;
        }
  
        h1 {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  
    .section-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .announcement-section,
    .meeting-section {
      margin-bottom: 20px;
  
      .announcement-box {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
  
      .meeting-card {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .meeting-info {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          width: 100%;
  
          .meeting-logo {
            width: 80px;
            height: 80px;
            border-radius: 50%; /* Make the logo circular */
            object-fit: cover; /* Maintain aspect ratio */
            margin-right: 15px;
          }
  
          .meeting-details {
            flex: 1;
            p {
              margin: 5px 0;
              font-size: 14px;
            }
            strong {
              font-weight: bold;
            }
          }
        }
  
        .attend-button {
          width: 100%; /* Full width button */
          background-color: #4a1533;
          color: #fff;
          border: none;
          border-radius: 20px;
          padding: 10px 20px;
          cursor: pointer;
          text-align: center;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #371029;
          }
        }
      }
    }
  
    .additional-links {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  
      .link-box {
        background-color: #f9f9f9;
        width: 45%;
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-size: 16px;
  
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }